*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::before
::after{
    box-sizing: border-box;
}
a{
    color:inherit;
    text-decoration: none;
}
body{
     /* 整个页面的最小宽度为1280 */
  min-width: 1280px;

  font-family: 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑,
    STHeiti, MingLiu;
  /* 字体抗锯齿渲染，可以让文字看上去更加平滑清晰 */
  -webkit-font-smoothing: antialiased; 
}